.App {
    width: 800px;
    margin: 50px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000;
}

.row {
    padding: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    resize: none;
}

label {
    display: block;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

input {
    display: block;
    width: 300px;
    height: 35px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
}

.row.pass {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

button {
    border: 1px solid #000;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    background: #ccc;
}

button:hover {
    background: #dedede;
}